@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #202C31;
    --secondary-color: #c0d6df;
    --accent1-color: #e8dab2;
    --accent2-color: #dd6e42;
    
    --heading-font: 'Glass Antiqua';
    --paragraph-font: 'Josefin Sans';

    --nav-background-color: #202C31;
    --nav-link-color: #e8dab2;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #dd6e42;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1080px;
    padding: 20px;
}

header {
    display: grid;
    align-items: center;
    padding: 1rem 3rem 1rem 0;
}

header img {
    grid-column: 1/4;
    justify-self: center;
}

nav {
    padding: 3px;
    display: flex;
    justify-content: space-evenly;
    grid-column: 4/8;
    background-color: var(--nav-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    margin: 5px 0 10px;
}

a {
    color: var(--nav-hover-link-color);
    text-decoration: none;
}

footer {
    display: grid;
}

footer a {
    color: black;
}

footer a:hover {
    color: red;
}

figure img {
    max-width: 50%;
}
/* Class Selectors */

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    border: 1px solid black;
}

.hero h1, article {
    position: absolute;
}

.hero h1 {
    width: 100%;
    text-align: center;
    background-color: var(--accent1-color);
    opacity: .8;
}

.hero article {
    margin: 80px 40px;
    padding: 10px;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    opacity: .8;
}

.hero article img {
    float: right;
    display: block;
    width: 150px;
    height: auto;
}

.adventure-grid {
    display: grid;
    grid-template: repeat(2, 50%) / repeat(5, 20%);
}

.adventure-grid h2 {
    margin-bottom: .25rem;
    grid-column: 1/6;
    justify-self: center;
}

.adventure-grid img {
    max-width: 75%; 
}

.contact-grid {
    display: grid;
    grid-template: repeat(3, 50%) / repeat(2, 50%);
}

.contact-grid h1 {
    text-align: center;
}

.contact, .contact-form {
    justify-self: center;
}

.contact-info p {
    padding: .5em;
    margin: 0;
}

.contact-form {
    max-width: 410px;
    margin: 1.5rem auto;
    padding: 2rem;
    display: grid;
}

.form-item {
    display: grid;
    padding: 0 0 .5em;
}

.subscribe {
    font-size: .8em;
}

.employees {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: space-around;
    grid-column: 1/3;
}

.employee-head {
    grid-column: 1/3;
}

.employee img {
    max-width: 10em;
}

.trips-grid {
    display: grid;
    grid-template: repeat(3, 3fr) / repeat(3, 3fr);
}

.action {
    display: flex;
    grid-column: 1/4;
}

.action img {
    max-width: 10em;
    max-height: 10em;
    margin-bottom: 5em;
}

.trips {
    display: grid;
    grid-template: repeat(2, 2fr) / repeat(2, 2fr);
    grid-column: 1/3;
}

.pricing {
    grid-column: 3/4;
}

.action-text {
    margin: 0;
    padding: 0;
}
